In [1]:
import pandas as pd
from pathlib import Path

# è®¾ç½®è·¯å¾„
remap_path = Path("../query_yelp/ground_truth_dataset")

# è¯»å–äº”ä¸ªé‡ç¼–ç åçš„è¡¨
df_business = pd.read_json(remap_path / "business_gt.json", lines=True)
df_checkin  = pd.read_json(remap_path / "checkin_gt.json", lines=True)
df_review   = pd.read_json(remap_path / "review_gt.json", lines=True)
df_tip      = pd.read_json(remap_path / "tip_gt.json", lines=True)
df_user     = pd.read_json(remap_path / "user_gt.json", lines=True)

In [2]:
df_business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,businessid_49,Steps to Learning Montessori Preschool,6901 Phelps Rd,Goleta,CA,93117,34.423311,-119.870637,4.5,8,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Education, Elementary Schools, Child Care & Da...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-17:0', '..."
1,businessid_47,Breeze Blow Dry Bar,9916 Clayton Rd,St. Louis,MO,63124,38.636716,-90.393139,4.0,81,0,"{'ByAppointmentOnly': 'False', 'BusinessAccept...","Hair Salons, Beauty & Spas, Hair Stylists, Ski...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."
2,businessid_88,Impact Guns,11655 W Executive Dr,Boise,ID,83713,43.608700,-116.328000,3.0,39,1,"{'BusinessParking': '{'garage': False, 'street...","Gun/Rifle Ranges, Active Life","{'Monday': '10:0-19:0', 'Tuesday': '10:0-19:0'..."
3,businessid_41,Palms Primary Care,"1615 Pasadena Ave S, Ste 430",Saint Petersburg,FL,33707,27.752653,-82.741325,4.0,5,1,None,"Internal Medicine, Doctors, Health & Medical","{'Monday': '8:30-17:0', 'Tuesday': '8:30-17:0'..."
4,businessid_33,J&Q Nails,"9655 E US Hwy 36, Unit H",Avon,IN,46123,39.763059,-86.352280,3.5,28,1,"{'BusinessParking': '{'garage': False, 'street...","Nail Salons, Hair Removal, Beauty & Spas, Waxing","{'Monday': '9:30-19:0', 'Tuesday': '9:30-19:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,businessid_23,Harbor Freight,"5211 Hickory Hollow Pkwy, Ste 103",Antioch,TN,37013,36.047915,-86.660254,3.5,8,1,None,"Automotive, Shopping, Hardware Stores, Auto Pa...","{'Monday': '8:0-19:0', 'Tuesday': '8:0-19:0', ..."
96,businessid_38,Philadelphia Hair Studio,744 S 6th St,Philadelphia,PA,19147,39.940074,-75.152765,2.5,22,0,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Hair Salons, Beauty & Spas","{'Tuesday': '11:0-19:0', 'Wednesday': '11:0-19..."
97,businessid_81,Fantastic Sams Cut & Color,36129 E Lake Rd,Palm Harbor,FL,34685,28.101070,-82.692492,3.5,6,1,"{'BusinessParking': '{'garage': False, 'street...","Barbers, Hair Salons, Beauty & Spas, Hair Removal","{'Monday': '8:0-21:0', 'Tuesday': '8:0-21:0', ..."
98,businessid_13,Avian Glen Winery,3545 Almaville Rd,Smyrna,TN,37167,35.911697,-86.552256,4.0,12,1,"{'RestaurantsPriceRange2': '2', 'RestaurantsTa...","Food, Arts & Entertainment, Wineries, Wine Tas...","{'Monday': '12:0-20:0', 'Tuesday': '12:0-20:0'..."
99,businessid_17,Whitemarsh Jewelers,4031 Skippack Pike,Skippack,PA,19474,40.223643,-75.399736,4.5,10,1,"{'ByAppointmentOnly': 'False', 'BusinessParkin...","Shopping, Jewelry","{'Monday': '10:0-18:0', 'Tuesday': '10:0-18:0'..."

In [5]:
# ç»Ÿè®¡ city å‡ºç°é¢‘ç‡
city_counts = df_business["city"].value_counts().reset_index()
city_counts.columns = ["city", "count"]

# ç»Ÿè®¡ state å‡ºç°é¢‘ç‡
state_counts = df_business["state"].value_counts().reset_index()
state_counts.columns = ["state", "count"]

# æ˜¾ç¤ºå‰å‡ é¡¹
print("âœ… å‡ºç°æœ€å¤šçš„å‰ 10 ä¸ªåŸå¸‚ï¼š")
print(city_counts.head(10))

print("\nâœ… å‡ºç°æœ€å¤šçš„å‰ 10 ä¸ªå·ï¼š")
print(state_counts.head(10))

âœ… å‡ºç°æœ€å¤šçš„å‰ 10 ä¸ªåŸå¸‚ï¼š
              city  count
0     Philadelphia     15
1     Indianapolis      8
2            Tampa      7
3      Saint Louis      4
4      New Orleans      4
5         Edmonton      4
6  King of Prussia      3
7          Fishers      3
8   St. Petersburg      3
9            Boise      3

âœ… å‡ºç°æœ€å¤šçš„å‰ 10 ä¸ªå·ï¼š
  state  count
0    PA     27
1    FL     23
2    IN     12
3    MO      9
4    LA      7
5    AB      4
6    ID      4
7    CA      3
8    IL      3
9    TN      3

In [6]:
import pandas as pd

# å‡è®¾ df_business å·²ç»åŠ è½½ï¼Œä¸”åŒ…å« 'categories' å­—æ®µ

# 1. å»é™¤ç¼ºå¤±å€¼ï¼Œç¡®ä¿æ˜¯å­—ç¬¦ä¸²
df_valid = df_business[df_business["categories"].notnull()].copy()

# 2. æ‹†è§£é€—å·åˆ†éš”çš„ç±»åˆ«åˆ—è¡¨
df_valid["category_list"] = df_valid["categories"].apply(
    lambda x: [cat.strip() for cat in x.split(",")] if isinstance(x, str) else []
)

# 3. å±•å¹³æˆä¸€åˆ—ï¼ˆexplodeï¼‰
df_exploded = df_valid.explode("category_list")

# 4. ç»Ÿè®¡é¢‘æ¬¡
category_counts = df_exploded["category_list"].value_counts().reset_index()
category_counts.columns = ["category", "count"]

# 5. è¾“å‡ºå‰ 20 ä¸ª
print("âœ… å‡ºç°æ¬¡æ•°æœ€å¤šçš„å‰ 20 ä¸ªç±»åˆ«ï¼š")
print(category_counts.head(20))

# 6. ç±»åˆ«æ€»æ•°
print(f"\nğŸ“Š æ€»å…±ç‹¬ç«‹ç±»åˆ«æ•°é‡: {len(category_counts)}")

âœ… å‡ºç°æ¬¡æ•°æœ€å¤šçš„å‰ 20 ä¸ªç±»åˆ«ï¼š
                     category  count
0                 Restaurants     35
1                        Food     21
2                    Shopping     18
3               Home Services     12
4                  Automotive     10
5            Health & Medical      8
6          Breakfast & Brunch      8
7                   Fast Food      8
8                        Bars      8
9              American (New)      8
10                  Nightlife      8
11              Beauty & Spas      7
12  Event Planning & Services      7
13     American (Traditional)      7
14              Home & Garden      7
15                 Sandwiches      7
16             Local Services      7
17                    Burgers      6
18                    Chinese      4
19                Auto Repair      4

ğŸ“Š æ€»å…±ç‹¬ç«‹ç±»åˆ«æ•°é‡: 187

In [7]:
from collections import Counter
import pandas as pd

# å‡è®¾ df_business å·²ç»åŠ è½½ï¼Œä¸”åŒ…å« 'attributes' å­—æ®µ

# åˆå§‹åŒ–è®¡æ•°å™¨
attr_counter = Counter()

# éå†æ¯ä¸€è¡Œçš„ attributes å­—æ®µ
for attrs in df_business["attributes"].dropna():
    if isinstance(attrs, dict):
        attr_counter.update(attrs.keys())

# è½¬æ¢ä¸º DataFrame å¹¶æ’åº
attr_stats = pd.DataFrame(attr_counter.items(), columns=["attribute_key", "count"])
attr_stats = attr_stats.sort_values(by="count", ascending=False).reset_index(drop=True)

# è¾“å‡ºå‰å‡ é¡¹
print("âœ… å‡ºç°é¢‘ç‡æœ€é«˜çš„ attribute å­—æ®µï¼š")
print(attr_stats.head(20))

# å±æ€§ç§ç±»æ€»æ•°
print(f"\nğŸ“Š æ€»å…±ä¸åŒ attribute å­—æ®µæ•°é‡: {len(attr_stats)}")

âœ… å‡ºç°é¢‘ç‡æœ€é«˜çš„ attribute å­—æ®µï¼š
                 attribute_key  count
0   BusinessAcceptsCreditCards     77
1              BusinessParking     60
2       RestaurantsPriceRange2     56
3                  BikeParking     45
4           RestaurantsTakeOut     43
5          RestaurantsDelivery     41
6                  GoodForKids     36
7                         WiFi     35
8     RestaurantsGoodForGroups     30
9            ByAppointmentOnly     29
10                      Caters     29
11                    Ambience     29
12     RestaurantsReservations     29
13                  NoiseLevel     28
14              OutdoorSeating     28
15                     Alcohol     28
16           RestaurantsAttire     27
17                       HasTV     27
18                 GoodForMeal     20
19        WheelchairAccessible     19

ğŸ“Š æ€»å…±ä¸åŒ attribute å­—æ®µæ•°é‡: 34

In [3]:
# ğŸ§® ç»Ÿè®¡ city å‡ºç°é¢‘ç‡ï¼ˆéªŒè¯ Indianapolis æ˜¯å¦å­˜åœ¨ï¼‰
city_counts = df_business["city"].value_counts().reset_index()
city_counts.columns = ["city", "count"]

print("âœ… å‡ºç°æœ€å¤šçš„å‰ 10 ä¸ªåŸå¸‚ï¼š")
print(city_counts.head(10))

# ğŸ“ è·å– Indianapolis çš„æ‰€æœ‰ business_id
indy_business_ids = df_business[df_business["city"] == "Indianapolis"]["business_id"]

# ğŸ§¾ åœ¨ review è¡¨ä¸­ç­›é€‰å‡ºå±äºè¿™äº› business_id çš„è®°å½•
indy_reviews = df_review[df_review["business_id"].isin(indy_business_ids)]

# â­ è®¡ç®—å¹³å‡è¯„åˆ†
average_rating = indy_reviews["stars"].mean()

# ğŸ“¢ æ‰“å°ç»“æœ
print(f"\nğŸ“ Indianapolis çš„ business æ•°é‡ä¸ºï¼š{len(indy_business_ids)}")
print(f"â­ å…¶å¹³å‡è¯„åˆ†ä¸ºï¼š{average_rating:.2f}")

âœ… å‡ºç°æœ€å¤šçš„å‰ 10 ä¸ªåŸå¸‚ï¼š
              city  count
0     Philadelphia     15
1     Indianapolis      8
2            Tampa      7
3      Saint Louis      4
4      New Orleans      4
5         Edmonton      4
6  King of Prussia      3
7          Fishers      3
8   St. Petersburg      3
9            Boise      3

ğŸ“ Indianapolis çš„ business æ•°é‡ä¸ºï¼š8
â­ å…¶å¹³å‡è¯„åˆ†ä¸ºï¼š3.55

In [4]:
# ğŸ“¦ å¯¼å…¥åº“

# ğŸ§® åˆå¹¶ä¸¤ä¸ªè¡¨ï¼šæŠŠ state ä¿¡æ¯å…³è”åˆ°æ¯æ¡ review
df_merged = pd.merge(df_review, df_business[["business_id", "state"]], on="business_id", how="inner")

# ğŸ“Š æŒ‰ state åˆ†ç»„ï¼Œç»Ÿè®¡æ¯ä¸ªå·çš„è¯„è®ºæ•°é‡å’Œå¹³å‡è¯„åˆ†
state_stats = df_merged.groupby("state").agg(
    review_count=("review_id", "count"),
    avg_rating=("stars", "mean")
).reset_index()

# ğŸ” æ‰¾å‡ºè¯„è®ºæœ€å¤šçš„å·
top_state = state_stats.sort_values(by="review_count", ascending=False).head(1)

# ğŸ–¨ï¸ è¾“å‡ºç»“æœ
print("âœ… æ‹¥æœ‰æœ€å¤šè¯„è®ºçš„å·ï¼š")
print(top_state.to_string(index=False))

âœ… æ‹¥æœ‰æœ€å¤šè¯„è®ºçš„å·ï¼š
state  review_count  avg_rating
   PA           662    3.699396

In [11]:


# ğŸ•’ è§£ææ—¥æœŸå­—æ®µï¼Œç­›é€‰å‡º 2022 å¹´çš„è¯„è®º
df_review["date"] = pd.to_datetime(df_review["date"])
df_review_2022 = df_review[df_review["date"].dt.year == 2018].copy()

print(f"âœ… å…±æœ‰ {len(df_review_2022)} æ¡è¯„è®ºå‘ç”Ÿåœ¨ 2022 å¹´ã€‚")

# ğŸ“Œ æ‰¾åˆ°è¿™äº›è¯„è®ºå¯¹åº”çš„ business_id
business_ids_2022 = df_review_2022["business_id"].unique()

# ğŸ¯ åœ¨ business è¡¨ä¸­ç­›é€‰å‡ºè¿™äº› business
df_business_active = df_business[df_business["business_id"].isin(business_ids_2022)].copy()

# ğŸ§  è§£æ attributes å­—æ®µä¸ºå­—å…¸ï¼ˆæœ‰äº›æ˜¯å­—ç¬¦ä¸²å½¢å¼ï¼‰
def parse_attributes(attr):
    if isinstance(attr, dict):
        return attr
    try:
        return ast.literal_eval(attr)
    except:
        return {}

df_business_active["attributes_parsed"] = df_business_active["attributes"].apply(parse_attributes)

# ğŸ” åˆ¤æ–­æ˜¯å¦å«æœ‰ BusinessParking æˆ– BikeParking
def has_parking(attrs):
    return "BusinessParking" in attrs or "BikeParking" in attrs

df_business_active["has_parking_attr"] = df_business_active["attributes_parsed"].apply(has_parking)

# âœ… ç­›é€‰æ»¡è¶³æ¡ä»¶çš„ business æ•°é‡
matched_count = df_business_active["has_parking_attr"].sum()

print(f"\nğŸš— åœ¨ 2022 å¹´æ”¶åˆ°è¯„è®ºçš„ business ä¸­ï¼Œæœ‰ {matched_count} å®¶æä¾›äº† BusinessParking æˆ– BikeParkingã€‚")

âœ… å…±æœ‰ 211 æ¡è¯„è®ºå‘ç”Ÿåœ¨ 2022 å¹´ã€‚

ğŸš— åœ¨ 2022 å¹´æ”¶åˆ°è¯„è®ºçš„ business ä¸­ï¼Œæœ‰ 41 å®¶æä¾›äº† BusinessParking æˆ– BikeParkingã€‚

In [15]:
import pandas as pd
import ast


def parse_attributes(attr):
    if isinstance(attr, dict):
        return attr
    try:
        return ast.literal_eval(attr)
    except:
        return {}

df_business["attributes_parsed"] = df_business["attributes"].apply(parse_attributes)

# âœ… åˆ¤æ–­æ˜¯å¦æ”¯æŒä¿¡ç”¨å¡
def accepts_credit(attr_dict):
    return attr_dict.get("BusinessAcceptsCreditCards", "").lower() == "true"

df_business["accepts_credit"] = df_business["attributes_parsed"].apply(accepts_credit)

# âœ… ç­›é€‰æ”¯æŒä¿¡ç”¨å¡çš„å•†å®¶
df_cc = df_business[df_business["accepts_credit"] == True].copy()

# âœ… è§£æ categories ä¸º list
def parse_categories(cat):
    if isinstance(cat, str):
        return [c.strip() for c in cat.split(",") if c.strip()]
    return []

df_cc["category_list"] = df_cc["categories"].apply(parse_categories)

# ğŸ”„ æ‹†åˆ†æ¯è¡Œçš„å¤šä¸ªç±»åˆ«
df_exploded = df_cc[["business_id", "category_list"]].explode("category_list").dropna()

# ğŸ“Š ç»Ÿè®¡æ¯ä¸ªç±»åˆ«ä¸‹æ”¯æŒä¿¡ç”¨å¡çš„ business æ•°é‡
category_counts = df_exploded.groupby("category_list")["business_id"].nunique().reset_index()
category_counts.columns = ["category", "credit_card_business_count"]

# ğŸ”— åˆå¹¶ review è¡¨
df_review_filtered = df_review[df_review["business_id"].isin(df_exploded["business_id"])]
df_merged = pd.merge(df_review_filtered, df_exploded, on="business_id", how="inner")

# ğŸ§® æ¯ä¸ªç±»åˆ«ä¸‹æ‰€æœ‰ review çš„å¹³å‡è¯„åˆ†
category_avg_rating = df_merged.groupby("category_list")["stars"].mean().reset_index()
category_avg_rating.columns = ["category", "avg_rating"]

# ğŸ“ˆ åˆå¹¶æ•°é‡ + å¹³å‡è¯„åˆ†
df_result = pd.merge(category_counts, category_avg_rating, on="category").sort_values(
    by="credit_card_business_count", ascending=False
)

# âœ… è¾“å‡ºå‰ 10 ç±»åˆ«
print("âœ… å‰ 10 ä¸ªæ”¯æŒä¿¡ç”¨å¡çš„ business ç±»åˆ«ï¼ˆæŒ‰æ•°é‡ï¼‰åŠå…¶å¹³å‡ç”¨æˆ·è¯„åˆ†ï¼š")
print(df_result.head(10).to_string(index=False))

âœ… å‰ 10 ä¸ªæ”¯æŒä¿¡ç”¨å¡çš„ business ç±»åˆ«ï¼ˆæŒ‰æ•°é‡ï¼‰åŠå…¶å¹³å‡ç”¨æˆ·è¯„åˆ†ï¼š
              category  credit_card_business_count  avg_rating
           Restaurants                          27    3.633676
              Shopping                          17    3.534979
                  Food                          15    3.734234
         Home Services                           8    3.375000
        American (New)                           7    3.517241
    Breakfast & Brunch                           7    4.083969
            Automotive                           7    2.910615
             Nightlife                           7    3.737374
             Fast Food                           7    2.817204
American (Traditional)                           7    3.706767

In [16]:


# âœ… è§£æ attributes å­—æ®µ
def parse_attributes(attr):
    if isinstance(attr, dict):
        return attr
    try:
        return ast.literal_eval(attr)
    except:
        return {}

df_business["attributes_parsed"] = df_business["attributes"].apply(parse_attributes)

# âœ… ç­›é€‰æä¾› WiFi çš„å•†å®¶ï¼ˆæ³¨æ„æœ‰äº›å€¼æ˜¯ u'free', u'paid'ï¼‰
def offers_wifi(attr_dict):
    wifi = attr_dict.get("WiFi", "").lower()
    return wifi in ["u'free'", "u'paid'", "'free'", "'paid'", "free", "paid"]

df_business["offers_wifi"] = df_business["attributes_parsed"].apply(offers_wifi)
df_wifi = df_business[df_business["offers_wifi"] == True].copy()
print(f"ğŸ“¶ æä¾› WiFi çš„ business æ•°é‡: {len(df_wifi)}")

# âœ… æŒ‰ state åˆ†ç»„ï¼Œç»Ÿè®¡æä¾› WiFi çš„ business æ•°é‡
state_counts = df_wifi.groupby("state")["business_id"].nunique().reset_index()
state_counts.columns = ["state", "wifi_business_count"]

# ğŸ” æ‰¾å‡ºæä¾› WiFi å•†å®¶æ•°é‡æœ€å¤šçš„ state
top_state = state_counts.sort_values(by="wifi_business_count", ascending=False).head(1)
target_state = top_state.iloc[0]["state"]
print(f"\nğŸ† æä¾› WiFi å•†å®¶æœ€å¤šçš„å·æ˜¯: {target_state}")

# âœ… æ‰¾å‡ºè¯¥å·çš„æ‰€æœ‰ business_idï¼Œæå– review å¹¶è®¡ç®—å¹³å‡è¯„åˆ†
business_ids = df_wifi[df_wifi["state"] == target_state]["business_id"]
df_review_target = df_review[df_review["business_id"].isin(business_ids)]
avg_rating = df_review_target["stars"].mean()

# âœ… æ‰“å°æœ€ç»ˆç»“æœ
print(f"\nğŸ“Š å·: {target_state}")
print(f"ğŸ¢ æä¾› WiFi çš„ business æ•°é‡: {int(top_state.iloc[0]['wifi_business_count'])}")
print(f"â­ è¿™äº› business çš„å¹³å‡è¯„åˆ†: {avg_rating:.2f}")

ğŸ“¶ æä¾› WiFi çš„ business æ•°é‡: 22

ğŸ† æä¾› WiFi å•†å®¶æœ€å¤šçš„å·æ˜¯: PA

ğŸ“Š å·: PA
ğŸ¢ æä¾› WiFi çš„ business æ•°é‡: 8
â­ è¿™äº› business çš„å¹³å‡è¯„åˆ†: 3.48

In [19]:
import pandas as pd
import ast


# Convert review date to datetime
df_review["date"] = pd.to_datetime(df_review["date"])

# Create a half-year period label (e.g., 2018-H1, 2018-H2)
def get_half_year_period(date):
    return f"{date.year}-H1" if date.month <= 6 else f"{date.year}-H2"

df_review["period"] = df_review["date"].apply(get_half_year_period)

# Aggregate: average rating and review count per business per period
df_agg = df_review.groupby(["period", "business_id"]).agg(
    avg_rating=("stars", "mean"),
    review_count=("stars", "count")
).reset_index()

# Filter businesses with at least 5 reviews
df_agg = df_agg[df_agg["review_count"] >= 5]

# For each period, select the business with highest average rating
# (break ties by higher review count)
df_top = df_agg.sort_values(["period", "avg_rating", "review_count"], ascending=[True, False, False]) \
               .groupby("period").head(1).reset_index(drop=True)

# Merge business metadata (name, categories)
df_top = df_top.merge(df_business[["business_id", "name", "categories"]], on="business_id", how="left")

# Reorder columns for output
df_top = df_top[["period", "name", "avg_rating", "review_count", "categories"]]

# Print final result
print("âœ… Top-rated businesses for each half-year period (with â‰¥ 5 reviews):")
print(df_top.to_string(index=False))

âœ… Top-rated businesses for each half-year period (with â‰¥ 5 reviews):
 period                          name  avg_rating  review_count                                                                                                                              categories
2011-H1           Farmhaus Restaurant    4.000000             5                                          Wine Bars, American (New), Cocktail Bars, Restaurants, American (Traditional), Nightlife, Bars
2012-H1              Insomnia Cookies    3.833333             6                                                             Ice Cream & Frozen Yogurt, Food, Food Delivery Services, Bakeries, Desserts
2012-H2               Taste of Europe    3.857143             7                                                                         Food, Specialty Food, Ethnic Food, Modern European, Restaurants
2013-H1           Farmhaus Restaurant    4.571429             7                                          Wine Bars, American (New), Cocktail Bars, Restaurants, American (Traditional), Nightlife, Bars
2013-H2               Taste of Europe    4.000000             5                                                                         Food, Specialty Food, Ethnic Food, Modern European, Restaurants
2014-H1                Fishtown Diner    3.800000             5                                                Restaurants, Diners, Breakfast & Brunch, American (New), American (Traditional), Burgers
2014-H2              The Fresh Market    3.833333             6                                                                                                                 Food, Grocery, Shopping
2015-H1                   Miles Table    4.333333             6                        Restaurants, Coffee & Tea, Food, Breakfast & Brunch, Event Planning & Services, American (Traditional), Caterers
2015-H2         Coffee House Too Cafe    4.571429             7                                                                                  Restaurants, Breakfast & Brunch, American (New), Cafes
2016-H1         Coffee House Too Cafe    4.375000            16                                                                                  Restaurants, Breakfast & Brunch, American (New), Cafes
2016-H2                   Pit Stop HQ    5.000000             6                                                    Pet Groomers, Pet Stores, Pet Training, Dog Walkers, Pet Services, Pets, Pet Sitting
2017-H1  Lithia Ford Lincoln of Boise    5.000000             5                                                                             Automotive, Auto Repair, Car Dealers, Auto Parts & Supplies
2017-H2                   Pit Stop HQ    5.000000             6                                                    Pet Groomers, Pet Stores, Pet Training, Dog Walkers, Pet Services, Pets, Pet Sitting
2018-H1                   Pit Stop HQ    5.000000             5                                                    Pet Groomers, Pet Stores, Pet Training, Dog Walkers, Pet Services, Pets, Pet Sitting
2018-H2       Cafe Porche and snowbar    5.000000             7 Food, Shaved Ice, Cajun/Creole, Breakfast & Brunch, Party & Event Planning, Comfort Food, Cafes, Restaurants, Event Planning & Services
2019-H1       Cafe Porche and snowbar    4.777778             9 Food, Shaved Ice, Cajun/Creole, Breakfast & Brunch, Party & Event Planning, Comfort Food, Cafes, Restaurants, Event Planning & Services
2019-H2       Cafe Porche and snowbar    4.923077            13 Food, Shaved Ice, Cajun/Creole, Breakfast & Brunch, Party & Event Planning, Comfort Food, Cafes, Restaurants, Event Planning & Services
2020-H1 Uptown Snoballs and Ice Cream    5.000000            14                                                                                   Ice Cream & Frozen Yogurt, Shaved Ice, Food, Desserts
2020-H2 Uptown Snoballs and Ice Cream    4.833333            12                                                                                   Ice Cream & Frozen Yogurt, Shaved Ice, Food, Desserts
2021-H1       Cafe Porche and snowbar    5.000000             8 Food, Shaved Ice, Cajun/Creole, Breakfast & Brunch, Party & Event Planning, Comfort Food, Cafes, Restaurants, Event Planning & Services
2021-H2                   Hanoi's Pho    3.100000            10                                                                                                  Vietnamese, Soup, Restaurants, Noodles

In [21]:
import pandas as pd
import ast
from collections import defaultdict


# Extract registration year from user["yelping_since"]
df_user["yelping_since"] = pd.to_datetime(df_user["yelping_since"])
df_user["registration_year"] = df_user["yelping_since"].dt.year

# Parse business categories
def parse_categories(cat):
    if isinstance(cat, str):
        return [c.strip() for c in cat.split(",") if c.strip()]
    return []

df_business["category_list"] = df_business["categories"].apply(parse_categories)

# Merge review with user registration year
df_review_user = df_review.merge(df_user[["user_id", "registration_year"]], on="user_id", how="inner")

# Merge with business category info
df_review_full = df_review_user.merge(
    df_business[["business_id", "category_list"]],
    on="business_id",
    how="inner"
)

# Count how many users registered in each year
user_count_by_year = df_user["registration_year"].value_counts().to_dict()

# Build per-year category review counter
year_to_category_counter = defaultdict(lambda: defaultdict(int))

for year in sorted(df_user["registration_year"].dropna().unique()):
    df_year = df_review_full[df_review_full["registration_year"] == year]
    for categories in df_year["category_list"]:
        if categories:
            for cat in categories:
                year_to_category_counter[year][cat] += 1

# Compile top 5 categories per year (with new user count)
rows = []
for year, cat_counts in year_to_category_counter.items():
    new_user_count = user_count_by_year.get(year, 0)
    top5 = sorted(cat_counts.items(), key=lambda x: x[1], reverse=True)[:5]
    for category, count in top5:
        rows.append({
            "registration_year": year,
            "new_user_count": new_user_count,
            "category": category,
            "review_count": count
        })

# Create and sort DataFrame
df_result = pd.DataFrame(rows)
df_result = df_result.sort_values(by=["registration_year", "review_count"], ascending=[True, False])

# Print final output
print("âœ… Top 5 reviewed business categories for each Yelp registration year:")
print(df_result.to_string(index=False))

âœ… Top 5 reviewed business categories for each Yelp registration year:
 registration_year  new_user_count                  category  review_count
              2005               1               Restaurants             1
              2005               1        Breakfast & Brunch             1
              2005               1                      Bars             1
              2005               1                 Wine Bars             1
              2005               1              Coffee & Tea             1
              2006               7               Restaurants             6
              2006               7                      Bars             3
              2006               7                 Nightlife             3
              2006               7        Breakfast & Brunch             2
              2006               7                 Wine Bars             2
              2007              19               Restaurants             9
              2007              19                      Food             6
              2007              19            American (New)             4
              2007              19        Breakfast & Brunch             4
              2007              19    American (Traditional)             3
              2008              35               Restaurants            20
              2008              35                      Food            14
              2008              35    American (Traditional)             8
              2008              35                 Nightlife             8
              2008              35                      Bars             8
              2009             116               Restaurants            34
              2009             116                      Food            23
              2009             116                 Nightlife            15
              2009             116                      Bars            15
              2009             116                  Bakeries            13
              2010             167               Restaurants            51
              2010             167                      Food            32
              2010             167    American (Traditional)            23
              2010             167            American (New)            22
              2010             167                 Nightlife            21
              2011             260               Restaurants            96
              2011             260                      Food            42
              2011             260            American (New)            33
              2011             260                 Nightlife            27
              2011             260                      Bars            27
              2012             260               Restaurants            87
              2012             260                      Food            55
              2012             260            American (New)            32
              2012             260    American (Traditional)            28
              2012             260        Breakfast & Brunch            27
              2013             243               Restaurants            94
              2013             243                      Food            59
              2013             243        Breakfast & Brunch            34
              2013             243            American (New)            27
              2013             243 Event Planning & Services            24
              2014             214               Restaurants            73
              2014             214                      Food            50
              2014             214            American (New)            30
              2014             214 Event Planning & Services            25
              2014             214        Breakfast & Brunch            22
              2015             212               Restaurants            73
              2015             212                      Food            44
              2015             212                  Shopping            25
              2015             212        Breakfast & Brunch            24
              2015             212 Event Planning & Services            24
              2016             168               Restaurants            58
              2016             168                      Food            38
              2016             168            American (New)            24
              2016             168                  Shopping            20
              2016             168        Breakfast & Brunch            19
              2017              95               Restaurants            44
              2017              95                      Food            26
              2017              95    American (Traditional)            13
              2017              95                 Fast Food            12
              2017              95                   Chinese            11
              2018              79               Restaurants            32
              2018              79                      Food            15
              2018              79                 Fast Food            12
              2018              79 Event Planning & Services            11
              2018              79             Beauty & Spas             8
              2019              63               Restaurants            19
              2019              63                      Food            13
              2019              63        Breakfast & Brunch            10
              2019              63 Event Planning & Services            10
              2019              63            American (New)             9
              2020              32               Restaurants            14
              2020              32                      Food             6
              2020              32    American (Traditional)             5
              2020              32                 Fast Food             5
              2020              32 Event Planning & Services             4
              2021              28               Restaurants            13
              2021              28                      Food             7
              2021              28 Event Planning & Services             5
              2021              28             Beauty & Spas             4
              2021              28                  Shopping             4

In [5]:
df_review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,reviewid_135,userid_548,businessid_34,2,0,0,0,"Sure, it's cheap, but there isn't much to see....",2016-08-01 03:44:21
1,reviewid_1067,userid_213,businessid_89,5,2,0,0,Very good service but a little pricey for the ...,2021-06-14 11:39:51
2,reviewid_871,userid_616,businessid_82,4,0,0,0,My friend and I enjoyed a fantastic meal at Mi...,2013-05-29 23:01:09
3,reviewid_314,userid_1903,businessid_66,2,1,2,1,This location is not one of my favorites peopl...,2016-05-21 18:48:52
4,reviewid_487,None,businessid_95,1,0,0,0,Terrible service. I was charged twice for onli...,2021-11-01 17:11:59
...,...,...,...,...,...,...,...,...,...
1995,reviewid_687,None,businessid_16,2,5,0,0,The Fox has gone downhill since I last visited...,2014-02-06 16:08:41
1996,reviewid_202,userid_428,businessid_16,4,0,0,0,Food was great as well as the service. Big scr...,2015-02-24 06:44:48
1997,reviewid_1362,userid_1684,businessid_85,5,0,0,0,Excellent customer service. Our order took 10 ...,2017-12-03 03:37:04
1998,reviewid_1352,userid_13,businessid_96,5,2,0,1,"SO GOOD! I already love this place, even if I ...",2011-03-08 23:20:46
1999,reviewid_1875,userid_1938,businessid_40,1,1,1,0,"We attended a wedding here, space is beautiful...",2016-04-09 21:51:27

In [6]:
# æ£€æŸ¥æ˜¯å¦æ˜¯ 'date' æˆ– 'timestamp' åˆ—
if "date" in df_review.columns:
    latest_date = pd.to_datetime(df_review["date"]).max()
elif "timestamp" in df_review.columns:
    latest_date = pd.to_datetime(df_review["timestamp"]).max()
else:
    raise ValueError("âŒ æœªæ‰¾åˆ°æ—¥æœŸåˆ—ï¼Œå¯èƒ½æ˜¯ 'date' æˆ– 'timestamp' å‘½åä¸ä¸€è‡´ã€‚")

print(f"ğŸ•’ æœ€æ–°çš„è¯„è®ºæ—¥æœŸæ˜¯ï¼š{latest_date}")

ğŸ•’ æœ€æ–°çš„è¯„è®ºæ—¥æœŸæ˜¯ï¼š2022-01-19 19:06:14

In [27]:
import pandas as pd
import ast
from datetime import datetime


# ==== Ensure timestamp is datetime ====
df_review["timestamp"] = pd.to_datetime(df_review["timestamp"])

# ==== Filter reviews from 2020 onwards ====
df_recent = df_review[df_review["timestamp"] >= pd.Timestamp("2020-01-01")].copy()

# ==== Safe parse of categories ====
def safe_parse(cat):
    if isinstance(cat, list):
        return cat
    try:
        return ast.literal_eval(cat)
    except:
        return []

df_meta["categories"] = df_meta["categories"].apply(safe_parse)

# ==== Filter books with 'History' in category ====
df_meta_history = df_meta[df_meta["categories"].apply(lambda cats: "History" in cats)].copy()

# ==== Merge with filtered review ====
df_merged = pd.merge(
    df_recent[["parent_asin", "rating", "timestamp"]],
    df_meta_history[["parent_asin", "title", "categories"]],
    on="parent_asin",
    how="inner"
)

# ==== Group by book title and categories, and collect review times and ratings ====
df_merged["categories_str"] = df_merged["categories"].apply(lambda x: ", ".join(x) if isinstance(x, list) else str(x))

# ==== Compute average rating per book ====
df_avg = (
    df_merged.groupby(["title", "categories_str"])
    .agg(avg_rating=("rating", "mean"), review_count=("rating", "count"))
    .reset_index()
)

# ==== Filter books with avg rating >= 4.0 ====
df_avg_filtered = df_avg[df_avg["avg_rating"] >= 4.0].copy()

# ==== Join back with review data for inspection ====
df_detailed = pd.merge(
    df_avg_filtered[["title"]],
    df_merged[["title", "timestamp", "rating", "categories"]],
    on="title",
    how="left"
)

# ==== Output ====
print("ğŸ“š History books with avg rating â‰¥ 4.0 since 2020, along with review timestamps and ratings:")
df_detailed

ğŸ“š History books with avg rating â‰¥ 4.0 since 2020, along with review timestamps and ratings:

,title,timestamp,rating,categories
0,Carthage: A Survey of Punic History and Cultur...,2021-02-07 14:44:53.244,5,"[Books, History, Africa]"
1,"Cheer Up, Ben Franklin! (Young Historians)",2023-03-06 13:38:39.404,5,"[Books, Children's Books, History]"
2,Mining Engineers and the American West: The La...,2021-04-13 16:55:28.780,4,"[Books, History, Americas]"
3,Six Gun Sound: The Early History of the Los An...,2022-03-23 14:19:17.671,5,"[Books, History, Americas]"
4,Six Gun Sound: The Early History of the Los An...,2022-12-26 21:59:27.358,5,"[Books, History, Americas]"

In [12]:
latest_time = df_review['timestamp'].max()
print("ğŸ“… æœ€è¿Ÿè¯„è®ºæ—¶é—´æ˜¯:", latest_time)

ğŸ“… æœ€è¿Ÿè¯„è®ºæ—¶é—´æ˜¯: 2023-06-14 16:29:39.173000